In [13]:
import re
import os
import numpy as np
import pandas as pd

from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import f1_score, precision_score, recall_score, roc_auc_score, accuracy_score

from NB_Template import *
from LR_Template import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
DATA_DIR = os.path.realpath('../../Data')
X_train, X_val, Y_train, Y_val = map(lambda fn: pd.read_csv(os.path.join(DATA_DIR, fn)), ['X_train.csv', 'X_val.csv', 'Y_train.csv', 'Y_val.csv'])

for df in X_train, Y_train, X_val, Y_val:
    if 'ID' in df:
        df.drop('ID', axis=1, inplace=True)
Y_train = Y_train['Sentiment']
Y_val = Y_val['Sentiment']

In [8]:
X_train.head()

,ID,Title,Review Text,Division Name,Department Name,Class Name,Age
0,2220,Comfort,Extremely comfortable t. fits tts. bought in b...,General,Tops,Knits,59
1,14590,Country classic,Perfect fall accessory and transitional piece ...,General,Jackets,Jackets,64
2,11990,Gorgeous but challenging for buxom beauties,"Love, love, love but alas had to return. gorge...",General,Dresses,Dresses,52
3,10036,"Again, my bad for not looking at description...",I did not like this top at all-but had i looke...,General,Tops,Blouses,53
4,8964,Coat,Omg. i also bought this years ago. i have worn...,General,Tops,Sweaters,63

In [9]:
X_val.head()

,ID,Title,Review Text,Division Name,Department Name,Class Name,Age
0,3069,NaN,I purchased this sweater in the grey and loved...,General,Tops,Fine gauge,83
1,16840,Way too short,"I'm 5'7"", 130 lbs. i ordered a medium-regular....",General,Dresses,Dresses,57
2,1667,Fabulous top,"Fabric is soft, body runs a bit big but falls ...",General,Tops,Knits,70
3,10085,NaN,Beautiful spring dress. perfect for luncheons ...,General,Dresses,Dresses,63
4,14360,Versatile & fun dress,Not sure why this tunic dress is rated only 3 ...,General,Dresses,Dresses,65

In [10]:
Y_train.head()

      ID Sentiment
0   2220  Positive
1  14590  Positive
2  11990  Positive
3  10036  Negative
4   8964  Positive

In [11]:
Y_val.head()

      ID Sentiment
0   3069  Positive
1  16840  Negative
2   1667  Positive
3  10085  Positive
4  14360  Positive

In [14]:
# Make sure the IDs line up / aren't duplicated
print(sum(X_train['ID'] != Y_train['ID']))
print(sum(X_val['ID'] != Y_val['ID']))

print(len(set(X_train['ID'])) == X_train['ID'].shape[0])
print(len(set(X_val['ID'])) == X_val['ID'].shape[0])

0
0
True
True

In [18]:
X1 = X_train[:100]
X1_text = X1['Review Text']
X1_text.head()

0    Extremely comfortable t. fits tts. bought in b...
1    Perfect fall accessory and transitional piece ...
2    Love, love, love but alas had to return. gorge...
3    I did not like this top at all-but had i looke...
4    Omg. i also bought this years ago. i have worn...
Name: Review Text, dtype: object

In [25]:
# View char counts

unique_chars = set([ch for text in X1_text for ch in text])
#display(unique_chars)
punct = ''.join([ch for ch in unique_chars if not re.search(r'[A-Za-z0-9]', ch)])
punct

'.$-\n\r& ",!/?_(#;\':)*'

In [29]:
def preprocess(text):
    text = text.lower()
    bow = re.split(r'[.$\-\n\r& \",!/?_(#;\':)*]', text)
    bow = [word for word in bow if len(word) > 1] # remove empty strings and 1-letter words
    return bow

In [37]:
all_word_counts = Counter()
for text in X1_text:
    bow = preprocess(text)
    all_word_counts.update(bow)
word_counts = all_word_counts.most_common(10)
vocabulary = sorted(list(zip(*word_counts))[0])
vocabulary

['and', 'but', 'in', 'is', 'it', 'of', 'the', 'this', 'to', 'with']

In [41]:
vec = CountVectorizer()
doc_term_matrix = vec.fit_transform(X1_text)
pd.DataFrame(doc_term_matrix.toarray()).head()

,0,1,2,3,4,5,6,7,8,9,...,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [43]:
vec.vocabulary_.keys()

dict_keys(['extremely', 'comfortable', 'fits', 'tts', 'bought', 'in', 'black', 'teal', 'can', 'be', 'dressed', 'up', 'with', 'scarf', 'or', 'worn', 'just', 'jewelry', 'fairly', 'lightweight', 'so', 'probably', 'not', 'good', 'choice', 'for', 'cold', 'winter', 'months', 'great', 'price', 'too', 'perfect', 'fall', 'accessory', 'and', 'transitional', 'piece', 'cooler', 'days', 'classic', 'red', 'check', 'fashion', 'flair', 'jeans', 'dress', 'it', 'find', 'love', 'but', 'alas', 'had', 'to', 'return', 'gorgeous', 'fabric', 'elegant', 'design', 'purchased', 'an', 'evening', 'summer', 'wedding', 'however', 'the', 'cut', 'of', 'this', 'is', 'more', 'suited', 'small', 'bust', 'line', 'short', 'waist', 'felt', 'like', 'hit', 'at', 'my', 'rib', 'cage', 'natural', 'top', 'half', 'was', 'spilling', 'out', 'neckline', 'slightly', 'loose', 'don', 'think', 'sizing', 'would', 'have', 'helped', 'maybe', 'needed', 'size', 'down', '145', 'lbs', '10', 'loved', 'didn', 'fit', 'me', 'properly', 'also', 'noticed', 'did', 'all', 'looked', 'prior', 'purchasing', 'polyester', 'thought', 'cotton', 'there', 'first', 'reason', 'secondly', 'behind', 'laces', 'presumably', 'modesty', 'that', 'refuses', 'lay', 'flat', 'wrinkles', 'lacing', 'making', 'appear', 'as', 'if', 'one', 'wearing', 'undershirt', 'cami', 'appropriate', 'long', 'hitting', 'thigh', 'reall', 'omg', 'years', 'ago', 'every', 'year', 'get', 'compliments', 'on', 'day', 'excited', 'buy', 'again', 'might', 'actually', 'normally', 'wear', 'depending', 'brand', 'style', 'ordered', 'returned', 'order', 'cropped', 'am', 'pictured', 'model', 'you', 'are', 'tall', 'longer', 'tops', 'may', 'beautiful', 'though', 'since', 'over', 'knees', 'colors', 'vibrant', 'look', 'most', 'got', 'green', 'motif', 'color', 'which', 'really', 'multi', 'blue', 'orange', 'purple', 'yellow', 'brown', 'gauzy', 'sheer', 'nice', 'breezy', 'subtle', 'stitching', 'detail', 'shoulders', 'usual', 'medium', 'well', 'arm', 'holes', 'billowy', 'body', 'take', 'couple', 'inches', 'each', 'side', 'make', 'little', 'less', 'full', 'still', 'has', 'some', 'swing', 'quite', 'much', 'before', 'saw', 'store', 'fell', 'between', '29', '30', 'pants', 'very', 'generous', 'leg', 'elastic', 'band', 'back', 'almost', 'graze', 'foot', 'sandals', 'seen', 'stock', 'photo', 'been', 'totally', 'off', 'put', 'by', 'culotte', 'length', 'guess', 'what', 'looks', 'cute', 'buttons', 'run', 'outside', 'exactly', '140', 'perfectly', '132', '34d', 'will', 'thin', 'under', 'see', 'through', 'doesn', 'gape', 'arms', 'sleeveless', 'items', 'smoothly', 'other', 'review', 'mentioned', 'swim', 'suit', 'cover', 'going', 'casual', 'versatile', 'hot', 'these', 'time', 'today', 'way', 'made', 'pair', 'quality', 'should', 'excellent', 'tone', 'flower', 'visible', 'creates', 'lovely', 'pattern', 'denim', 'treatment', 'ankle', 'waistband', 'added', 'touch', 'true', 'your', 'mill', 'above', 'they', 're', 'something', 'special', 'worth', 'money', 'fact', 'them', 'sale', 'makes', 'even', 'better', 'purchase', 'tried', 'local', 'retailer', 'pretty', 'weight', 'stuff', 'seems', 'offer', 'two', 'big', 'problems', 'low', 'could', 'opening', 'world', 'armholes', 'sides', 'bra', 'deal', 'breaker', 'fixed', 'close', 'enough', 'when', 'failed', 'peplum', 'do', 'post', 'pregnancy', 'any', 'favors', 'collar', 'area', 'right', 'always', 'end', 'walking', 'different', 'than', 'drapes', 'beautifully', 'rich', 'cool', 'orangey', 'person', 'jumped', 'online', 'outfit', 'does', 'item', 'justice', 'assets', 'adorable', 'regrettably', 'wasn', 'lined', 'jacket', 'amazing', 'because', 'usually', 'arrived', 'mail', 'asap', 'definitely', 'form', 'fitting', 'sweater', 'sleeve', 'shirt', 'underneath', 'called', 'asked', 'reserve', 'large', 'soft', 'cozy', 'hood', 'favorite', 'part', 'runs', 'huge', 'xl', 'sized', 'sheen', 'flowy', 'seriously', 'shoulder', 'extra', 'room', 'around', 'torso', 'absolutely', 'lace', 'bottom', '138lbs', 'picture', 'couldn', 'go', 'wrong', 'texture', 'mix', 'gave', 'four', 'stars', 'bit', 'snug', 'happy', 'forward', 'lot', 'best', 'leggings', 'ever', '127lbs', 'warm', 'stay', 'pinch', 'lines', 'amazed', 'inexpensive', 'buying', 'after', 'second', 'knew', 'must', 'things', 'bohemian', 'encompasses', 'everything', 'wonderful', 'about', 'free', 'feminine', 'sleeves', 'fitted', 'armed', 'ladies', 'rejoice', 'cuff', 'high', 'only', 'panel', 'slip', 'appears', 'str', 'skirts', 'same', 'disappointed', 'liked', 'idea', 'photos', 'cuter', 'material', 'feeling', 'bloated', 'received', 'birthday', 'gift', 'completely', 'wish', 'known', 'no', 'means', 'breakers', 'kind', 'shot', 'keyhole', 'sewn', 'shut', 'open', 'cause', 'women', 'zippers', 'pullover', 'stretch', 'incredible', '00p', '0p', 'plenty', '110lbs', '32c', 'often', 'shop', 'hesitate', 'pay', 'reminds', 'vintage', 'clothing', 'dry', 'clean', 'construction', 'bias', 'trim', 'impressive', 'tunic', 'boots', 'no_text', 'interesting', 'multicolor', 'stripes', 'nicely', 'many', 'sturdy', 'terrible', 'double', 'checked', 'sure', 'weren', 'backwards', 'board', 'front', 'poofy', 'pockets', 'poor', 'bright', 'gives', '1920s', 'circus', 'diaper', 'tight', 'compar', 'print', 'patterns', 'drop', 'flattering', 'types', 'thing', 'came', 'petite', 'sizes', 'unflattering', 'ultra', 'seemed', 'unstructured', 'oversized', 'paper', 'bag', '39', 've', 'eyeing', 'weeks', 'finally', 'took', 'plunge', 'velvet', 'fun', 'playful', 'know', 'reviewers', 'said', 'running', 'nearly', 'stuck', 'im', '16', 'carry', 'stomach', 'butt', 'hips', 'shift', 'its', 'looking', 'paring', 'kimono', 'tomorrow', 'easy', 'blazer', 'casually', 'trainers', 'details', 'coat', 'thick', 'keep', 'lining', 'inside', 'overall', 'read', 'comments', 'button', 'being', 'lower', 'allows', 'show', 'dusty', 'rose', 'represented', 'accurately', 'thickness', 'drape', 'luxurious', 'workable', 'care', 'information', 'provided', 'site', 'listed', 'garment', 'machine', 'washable', 'label', 'states', 'rea', 'stunning', 'kimonos', 'flowing', 'plan', 'shorts', 'layering', 'similar', 'bating', 'fresh', 'modern', 'option', 'coverage', 'want', 'pops', 'simple', 'light', 'work', 'layered', 'reversible', 'tank', 'pink', 'feel', 'scratchy', 'especially', 'discounts', 'lucked', 'dig', 'from', 'expecting', 'indeed', 'stiff', 'appreciated', 'softer', 'staying', 'closet', 'perhaps', 'snuggle', 'someone', 'never', 'problem', 'reference', '117', 'kept', 'were', 'looser', 'sorry', 'assumed', 'transition', 'temps', 'sad', 'likely', 'working', 'postpartum', 'wants', 'how', 'exclusive', 'able', 'try', 'cross', 'currently', 'white', 'striped', 'version', 'awkward', 'xs', 'available', 'sold', 'gauge', 'knit', 'mint', 'anything', 'addition', 'vest', 'pictures', 'percentage', 'wool', 'easily', 'spring', 'expected', 'nude', 'strapless', 'comfy', 'stands', 'without', 'flashy', 'silk', 'matte', 'shiny', 'retro', 'surprised', 'embroidery', 'isn', 'tie', 'unusual', 'rather', 'having', 'built', 'into', 'separate', 'unfortunately', 'dolan', 'dresses', 'wouldn', 'wanted', 'giving', 'middle', 'appearance', 'skinny', 'athletic', 'build', 'decent', 'helps', 'yes', '48', 'tshirt', 'grey', 'waisted', 'skirt', 'night', 'regular', 'cardigan', 'during', 'purchases', 'while', 'house', 'type', 'socks', 'super', 'snuggly', 'lounging', 'purposes', 'contemplating', 'ones', 'farrier', 'tee', 'bummed', 'anywhere', 'worries', 'll', 'joggers', 'sweatshirt', 'crossword', 'cup', 'coffee', 'recommend', 'ok', 'typical', 'ended', 'besides', 'issue', 'occasion', 'whether', 'formal', 'ps', 'beware', 'wrinkle', 'lol', 'throughout', 'ease', '34c', '28', 'wide', 'chinos', 'incredibly', 'recently', 'baby', 'self', 'conscious', 'hides', 'boxy', 'weave', 'prone', 'snags', 'careful', 'gotten', 'shortest', 'meets', 'flows', 'jersey', 'seem', 'cheaper', 'speak', 'durability', 'yet', 'hoping', 'holds', 'heavier', 'twill', 'pilcro', 'earlier', 'weightier', 'trousers', '26', '27', 'judge', 'written', 'washing', 'given', 'rating', 'once', 'water', 'detergent', 'wash', 'lost', 'went', 'sp', 'asymmetrical', 'hem', 'own', 'complaint', 'chested', 'drapey', 'tailored', 'overwhelming', 'cancel', 'differently', 'jean', 'rise', 'higher', 'larger', 'bulkier', 'legging', 'difference', 'disappointing', 'trying', 'need', 'smaller', 'pairs', 'missed', 'last', 'snatched', 'season', 'wardrobe', 'knee', 'hi', 'booties', 'heeled', 'pump', 'blouse', 'ways', 'polished', 'together', 'upon', 'examination', 'receiving', 'shown', 'nothing', 'save', 'zip', 'belt', 'pleats', 'straight', 'across', 'turns', 'opinion', 'ruffles', 'their', 'shape', 'position', 'aren', 'frame', 'slits', 'allow', 'spot', 'below', 'hip', '100', 'xxs', 'ivory', 'rust', 'come', '150lbs', 'worked', 'fine', 'typically', '14', 'live', 'shimmery', 'seam', 'near', 'minor', 'gap', 'bosom', 'due', 'placement', 'add', 'snap', 'fix', 'provides', 'rear', 'wond', 'early', 'comfort', 'dream', 'wore', 'baggy', 'here', 'debated', 'glad', 'delicate', 'adds', 'gathers', 'additional', 'accents', 'neck', 'original', 'hook', 'eye', 'clasp', 'stated', 'tanks', 'now', 'three', 'times', 'swimming', 'checking', 'popped', 'offered', 'washed', 'shrinkage', 'retuned', 'those', 'who', 'general', 'doubt', 'thanks', 'antro', 'sadly', 'younger', 'clingy', 'forgiving', 'anyone', 'chunkiness', 'such', 'myself', 'unexciting', 'alternative', 'mentions', 'potential', 'keeping', 'steel', 'majority', 'reviews', 'says', 'shrinks', 'per', 'instructions', 'happened', 'correct', 'colored', 'compare', 'shrink', 'returning', 'spend', 'hanging', 'grandson', 'appealed', 'kid', 'leather', 'oh', 'bomber', 'transitioning', 'adding', 'wait', 'layer', 'pashminas', 'wraps', 'both', 'hanger', 'new', 'eve', 'january', 'say', 'slimming', 'although', 'bustline', 'needs', 'accessories', 'edging', 'seasons', 'expensive', '90', '95lbs', 'figure', 'constricting', 'suits', 'owned', 'sexy', 'note', 'australian', 'standards', 'except', 'gentle', 'support', 'recommended', 'sleeping', 'haven', 'pilling', 'pulls', 'scree', 'width', '34', '36', '142', 'curvy', '10p', 'paired', 'mauve', 'navy', 'stri', 'cuffed', 'wrist', 'rolled', 'indoors', 'keeper', 'drab', 'poorly', 'then', 'overlooked', 'cardigans', 'trip', 'few', 'found', 'until', 'heavy', 'stretchy', 'complaints', 'normal', 'possible', 'several', 'endo', 'send', 'styling', 'blocking', 'exchange', 'poncho', 'pricy', 'decided', 'against', 'reasons', 'mind', 'obsessed', '11', 'swallow', 'hide', 'showing', 'sit', 'angle', 'defect', 'itchy', 'whats', 'boo', 'strange', 'inner', 'massive', 'sack', 'tassels', 'weird', 'knot', 'attractive', 'coloring', 'snakeskin', 'real', 'life', 'harsher', 'plum', 'stick', 'inverted', 'invert', 'obvious', 'shrunk', 'harder', 'ingnore', 'gray', 'roomy', 'relaxed', 'edges', 'start', 'pull', 'away', 'eventually', 'unravel', 'otherwise', 'unique', 'features', 'hits', 'bunched', 'buttoned', 'caused', 'bunching', 'match', 'weather', 'getting', 'ca', 'gold', 'sleeved', 'disappoint', 'next', 'searching', 'entire', 'marriage', 'christmas', 'valentine', 'either', 'burgundy', 'matronly', 'search', 'cannot', 'reordered', 'thi', 'require', 'window', 'pane', '124', 'lb', 'broad'])

In [45]:
Y_train

          ID Sentiment
0       2220  Positive
1      14590  Positive
2      11990  Positive
3      10036  Negative
4       8964  Positive
...      ...       ...
13188  16470  Positive
13189  20154  Negative
13190  14649  Positive
13191  19938  Positive
13192  12237  Positive

[13193 rows x 2 columns]

In [10]:
nb = NaiveBayes()
nb.fit(X_train, Y_train)

In [19]:
Y_pred = nb.predict(X_val)
Y_pred = Y_pred.replace('Positive', 1).replace('Negative', 0)
Y_val = Y_val.replace('Positive', 1).replace('Negative', 0)

print('Accuracy:', accuracy_score(Y_val, Y_pred))
print('Precision:', precision_score(Y_val, Y_pred))
print('Recall:', recall_score(Y_val, Y_pred))
print('ROC/AUC:', roc_auc_score(Y_val, Y_pred))
print('F1:', f1_score(Y_val, Y_pred))

Accuracy: 0.9348287359806002
Precision: 0.9543010752688172
Recall: 0.9729359369647139
ROC/AUC: 0.8075206000613042
F1: 0.9635284139100933